PORT=3000
APP_BASE_URL=https://tu-frontend-publico.com/
API_BASE_URL=https://tu-backend-publico.com/
MP_ENVIRONMENT=test
MP_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxxxxxxxxxx
MP_PUBLIC_KEY=TEST-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MP_WEBHOOK_SECRET=pegalo-desde-mercado-pago
MP_STATEMENT_DESCRIPTOR=PISTANERA
