.env
air-forge-media/
baseus-inflator.html
introspect-*.graphql
inventory-types.graphql
inventory-types.json
more-types.json
mutation-fields.json
product-create-test-variables.json
product-create-test.graphql
product-preview-query.graphql
product-preview-variables.json
product-query.graphql
product-types.json
productset-types.json
publications.graphql
publications.json
publish-air-forge-variables.json
publish-air-forge.graphql
update-air-forge-variables.json
update-air-forge-variant-variables.json
update-air-forge-variant.graphql
update-air-forge.graphql
shopify-copia-de-horizon/theme-dev.err.log
shopify-copia-de-horizon/theme-dev.log
shopify-copia-de-horizon/theme-dev.pid
shopify-copia-de-horizon/**
!shopify-copia-de-horizon/assets/
!shopify-copia-de-horizon/assets/pista-nera-theme.css
!shopify-copia-de-horizon/assets/pista-nera-wordmark.svg
!shopify-copia-de-horizon/blocks/
!shopify-copia-de-horizon/blocks/_header-logo.liquid
!shopify-copia-de-horizon/sections/
!shopify-copia-de-horizon/sections/footer-group.json
!shopify-copia-de-horizon/sections/header-group.json
!shopify-copia-de-horizon/sections/header.liquid
!shopify-copia-de-horizon/sections/pista-nera-home.liquid
!shopify-copia-de-horizon/sections/pista-nera-product-story.liquid
!shopify-copia-de-horizon/snippets/
!shopify-copia-de-horizon/snippets/header-row.liquid
!shopify-copia-de-horizon/snippets/pista-nera-nav.liquid
!shopify-copia-de-horizon/snippets/search.liquid
!shopify-copia-de-horizon/templates/
!shopify-copia-de-horizon/templates/index.json
!shopify-copia-de-horizon/templates/product.json
